#clearBoth{
    clear: both;
}

#divForAddButton{
    position: relative;
}

.cssClassForPaddingCorrection{
    position: relative;
}

#addButton{
    position: absolute;
    right: 0;
}

#filterAddWrap{
    padding-top: 1rem;
    padding-bottom: 1rem;
}